a:hover{ font-size:20px; color:white;}
#background{background-color: aqua}
.column{
	float: :left;
	width: 33.33%;
}
.topnav {
    overflow: hidden;
    background-color: white;
    color:aqua;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
	position: relative;
}

.sidebar {
	position: absolute;
	top: 15px;
	left: 150px;
	color:white;
	background-color: white;
}
.content {
	position: absolute;
	top: 15px;
	left: 150px;
}
.post_list{
	position: relative;
}

