a:hover{ font-size:20px; color:white;}
#background{background-color: gray}
.column{
	float: left;
	width: 33.33%;
}
.topnav {
    overflow: hidden;
    background-color: gray;
    color:white;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.container {
	position: relative;
}
input {
	top: 100px;
	left: 500px;
}
.column{
	top: 15px;
	left: 600px;
}
.sidebar {
	position: absolute;
	top: 15px;
	left: 500px;
	color:aqua;
	font-size: 25px;
	background-color: white;
}
.content {
	position: absolute;
	top: 15px;
	left: 500px;
}
.post_list{
	position: relative;
}

.blockquote{
    border-left:none
}

.quote-badge{
    background-color: rgba(255, 81, 0, 0.788);   
}
.quote-box{
    
    overflow: hidden;
    margin-top: -50px;
    padding-top: -100px;
    border-radius: 17px;
    background-color: rgb(255, 60, 60);
    margin-top: 25px;
    color:white;
    width: 325px;
    box-shadow: 2px 2px 2px 2px #E0E0E0;
    
}
.quotation-mark{
    
    margin-top: -10px;
    font-weight: bold;
    font-size:75px;
    color:rgb(68, 0, 255);
    font-family: "Times New Roman", Georgia, Serif;
    
}
.quote-text{
    
    font-size: 15px;
    margin-top: -65px;
}
