a:hover{ font-size:20px; color:white;}
#background{background-color: gray}
.column{
	float: :left;
	width: 33.33%;
}
.topnav {
    overflow: hidden;
    background-color: gray;
    color:white;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
input {
	top: 100px;
	left: 500px;
}
.container {
	position: relative;
}
.column{
	top: 15px;
	left: 600px;
}
.sidebar {
	position: absolute;
	top: 15px;
	left: 500px;
	color:aqua;
	font-size: 25px;
	background-color: white;
}
.content {
	position: absolute;
	top: 15px;
	left: 500px;
}
.post_list{
	position: relative;
}

