* {
    /* Removes extra spacing from all elements on the page */
    padding:16px 32px;
    margin: 4px 2px;


}

body {
   
    background-color:grey;
    height: 100%;
    width:100%;

}
.topnav {
    overflow: hidden;
    background-color: gray;
    text-align: center;
    color:white;
}
.topnav a {
    float: left;
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.navnav{
	position: relative;
    width: 60%;
    left: 20%;

}
