 <!DOCTYPE html>
 <html>
 <head>

 	<title>Help</title>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='help.css') }}">
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

<h1>Questions You May Have
 	</h1>


 </head>
 <body>
 	    <div class="navnav">


        <ul class="topnav" id="background"> 
            <li><a href="{{url_for('home')}}">home page</a></li>
            <li><a href="{{url_for('display_user',user_name='user_name')}}">profile page</a></li>
            <li><a href="{{url_for('about')}}">who we are?</a></li>
            <li><a href="{{url_for('contact')}}">contact us</a></li>
            <li><a href="{{url_for('help')}}">help</a></li>
        <li><a href="{{url_for('login')}}">sign out</a></li>
        </ul>
    </div>

 	

 		<button name="" class="btn btn-outline-secondary" type="submit">How do I create an account? 
 		</button>
 			<p>
 				To create an account:
 				Go to the sign up page
 				Enter your name, last name, password,and date of birth .
 				Click submit.
</p>
<button name="" class="btn btn-outline-secondary" type="submit">I can't log in.
 		</button>
 		<p>If you're having trouble logging into your account, here are some things you can try.
 		-make sure you entered the password correctly.
 		-make sure you entered the user name correctly.




 		</body>
 		</html> 