<!DOCTYPE html>
<html>
<head>
	<title>Project Example</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}">
</head>

<body>


	<div class="container">
		<div>
			
		</div>
		<div class="sidebar"><center> logo:</center></div>
		<div class="content">
			<!-- <center> -->



			<center><h1>information about us:</h1></center>
			<!-- <div class="center">  -->
			<!-- <center> -->

		<ul class="topnav" id="background">	
		<li><a href="{{dis}}">contact us</a></li>
		<li><a href="{{dis}}">who we are?</a></li>
		<li><a href="{{dis}}">help</a></li>
		<li><a href="{{dis}}">home page</a></li>
		<li><a href="{{dis}}">sign out</a></li>
		<li><a href="/display_user/">profile page</a></li>
		</ul>
			<!-- </center> -->
			<center>
			<div class="column" >posts:</div><br>
			<form action="/home" method="post">
			<input type="text" name="image_url" placeholder="post your image">
            <input type="text" name="text" placeholder="write your post">
			<input type="submit" value="submit">
			</form>
		</center>

			</div>
		</div>
	</div>
	{% for post in feed %}
		
	<div class="post_list">
		<img src="{{post.image_url}}" alt="{{post.name}}" height="42" width="42">
	</div>

	{% endfor %}
</body>

</html>