<!DOCTYPE html>
<html>
<head>
    <title>My Final Project</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">

</head>
<body>

    
    <div style="background-color: aqua" id="header">
       
       <a href="{{ url_for('login')}}">
           <button onclick="window.location" href="{{ url_for('login')}}" class="btn btn-outline-danger">login</button>
        </a>
       <a href="{{ url_for('add_student_route')}}">
        <button onclick="window.location" href="{{ url_for('add_student_route')}}" class="btn btn-outline-danger">sign_up</button>
        </a>
        

    </div>


    <div class="main" style="background-color: white" >
        <form method = "post" action="/">
            <input type="text" name="user_name" placeholder="user_name">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="submit" class="btn btn-outline-danger">

        </form>          
    </div>
     
       
        
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>

</body>
</html>

