<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
    </head>



    <body>

        <div id="sidebar">
            <h1></h1>
            <a href="login.html"></a>
            <button onclick="window.location.href="login.html">login</button>
            <button onclick="window.location.href="sign_up">sign_up</button>


         <div>
               

        

            <!-- <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand">Navbar</a>
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
         </a> -->


        <h1>welcome to our website!!!</h1>
    </div>


    

     <form action = "/add" method = "post">
            <input type="text" name="user_name" placeholder="user_name">
            <input type="password" name="password" placeholder="password">
            <input type="submit" value="submit">
        </form>
        <div style="background-color: aqua" id="header">

        </div> 
        <div class="container" id="content">
  <h1></h1>
  <p></p>
</div>





        
    
    </body>


</html>

