<!-- This html page takes user_posts as an argument -->

<!DOCTYPE html>
<html>
    <head>
        <title>YOUR_TITLE_HERE</title>
        <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    </head>

    <body>
        
        <div id = "sidebar"></div>

        <div class="container-fluid">
            
                <div class="row space">
                    <div style="text-align: center; height: 100%"  class="col-md-6">
                        <div class="card">
                            <img src="https://image.shutterstock.com/image-vector/photo-profile-placeholder-260nw-1040700073.jpg" alt="John" style="width:100%">
                            <h1>{{user.user_name}}</h1>
                            <p class="badge">Environment Saviour</p>
                            <p>{{user.bio}}</p>
                            <div style="margin: 25px 0;"></div>
                            <p><button type="button" class="btn btn-outline-primary">High Five</button></p>
                        </div>
                    </div>

                    
                    <div class="col-md-6 posts">

                            {% for post in user.user_posts %}    

                            <div class="post_list">
                              
                                <blockquote class="quote-box">
                                    <p class="quotation-mark"></p>
                                    <p class="quote-text">{{post.text}}</p>
                                    <hr>
                                    <div class="blog-post-actions">
                                    <p class="blog-post-bottom pull-left">{{post.user_name}}</p>
                                    <p id="clap" class="blog-post-bottom pull-right">
                                        <span class="badge quote-badge" id = "claps_num)">{{post.claps_num}}</span></p>
                                    <p><button type="button" class="btn btn-outline-primary" id = "clap_btn" onclick="clap()">Clap</button></p>
                                    </div>
                                </blockquote> 
                            {% endfor %}      
                            </div>
                    </div>
        <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
    </body>
</html>
