<!DOCTYPE html>
<html>
	<title>HTML Tutorial</title>
<link rel="stylesheet" type="text/css" href="{{	url_for('static', filename='whower.css')}}"> 
        <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}"> -->

<body>
    <center><h1>Who We Are?</h1></center>
        <div class="navnav">
        <ul class="topnav" id="background"> 
            <li><a href="{{url_for('home')}}">home page</a></li>
            <li><a href="{{url_for('display_user',user_name='user_name')}}">profile page</a></li>
            <li><a href="{{url_for('about')}}">who we are?</a></li>
            <li><a href="{{dis}}">contact us</a></li>
            <li><a href="{{dis}}">help</a></li>
        <li><a href="{{url_for('login')}}">sign out</a></li>
        </ul>    
        <p>Hello, we are Y2 students in a program calld MEET. The Green Clap website was created so people all over the world can help the eviroment, by completing tasks and challenges. The users can post the challenge the copleted and share how they helped. We hope that this website will introdue a new way of living, poeple help the enviroment, and enjoy it at the same time. Thank ypo for using Grenn Clap!</p>
    </div>
</body>
</html>